<div class="rectangle">
  <div class="container">
    <div class="planttitle">
      <h2>SAPIN</h2>
    </div>

    <button class="arrowButton">
      <img src="assets/icons/icons8-arrow-100.png" height="50" width="50" style="transform: rotate(180deg);">
    </button>

  </div>
  <div class="content">
    <div class="imgcontainer">
      <img src="assets/icons/flower.jpeg">
    </div>
  </div>
  <div class="comment">
    <button class="famtext">
      Famille
    </button>

    <div>
      <p>Poste par lululazone il y a 4 heures</p>
    </div>
    <img src="assets/icons/noprofile.jpeg">

  </div>
  <div>
    <span style="margin-left: 10%;">Taille : X, XX, XXX m</span>
  </div>
  <div>
    <span style="margin-left: 10%;">Couleurs: </span>
    <button class="colorbutton" style="background-color: green;"></button>
    <button class="colorbutton" style="background-color: darkgreen;"></button>
    <button class="colorbutton" style="background-color: saddlebrown;"></button>
  </div>
  <div>
    <span style="margin-left: 10%;">Description</span>
  </div>
</div>
