:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
header {
  background-color: #A9C9C8;
  #left ,#leftmiddle,#middle, #right {display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 12px;}
  height: 10%;
}

#left {
  background-color: #A9C9C8;
  float: left;

}

#left img{
  border-radius: 50%;
  width: 6%;
  height: 6%;
  padding: 1%;
}

#leftmiddle {
  background-color: #A9C9C8;
  float: left;
  margin-left: -49%;
  margin-top: 1%;
}

#middle {
  background-color: #A9C9C8;
  float: left;
  margin-left: -15%;
  margin-top: 1%;
  width: 20%;
  text-align: center;
}

#right {
  background-color: #A9C9C8;
  float: right;
  margin-right: 1%;
  margin-top: 1%;
}

.header h1{
  font-family: 'Roboto', sans-serif;
  font-size: 39px;
  color: #1A321F;
  margin-top: 1%;
  margin-bottom: 1%;
}
header .title {
  font-size: 28px;
}
main {
  display: flex;
  flex-grow: 1;
}
.left-bar {
  width: 20em;
  background-color: var(--sidebar-color);
}
.map-container {
  flex-grow: 1;
}
footer {
  background-color: var(--header-color);
  padding: 1em;
}

.middleButton {
  background-color: inherit;
  border: none;
  transition-duration: 0.4s;
  font-size: 30px;
  color: #FFFFFF;

}

.middleButton:hover {
  background-color: #558658;
  color: white;
  border-radius: 25px;
  cursor: pointer;
}

.userButton {
  background-image: url("https://i.imgur.com/o9fpo46.png");
  background-size: cover;
  width: 200px;
  height: 150px;
  max-height: 70px;
  max-width: 70px;
  border-radius: 50%;
}

