<div class="panel">
  <div class="firstline">
    <input type="text" name="name"  placeholder="Rechercher..." class="inputing" />
    <button type="submit" name="submit" value="submit" class="buttonSubmit">Rechercher</button>
  </div>
  <span class="spanfilter">Filtres: </span>
  <div style="margin-top: 2%; text-align: center">
    <button class="buttonSubmit" style="margin-right: 1%;">Arbres</button>
    <button class="buttonSubmit"style="margin-right: 1%; margin-left: 1%">Fleurs</button>
    <button class="buttonSubmit" style="margin-left: 1%">Fougères</button>
  </div>
</div>
