<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<header class="header">
  <div id="left">
    <img ngSrc="assets/icons/vegetalogo.png" width="50" height="50">
  </div>
  <div id="leftmiddle">
    <h1>Vegeta</h1>
  </div>
  <div id="middle">
    <button class="middleButton">Map view</button>
    <span style="color: #FFFFFF;padding: 5%"> ● </span>
    <button class="middleButton">List view</button>
  </div>
  <div id="right">
    <button class="userButton"></button>
</div>


</header>
<main class="main">
  <app-lateral-menu></app-lateral-menu>
  <app-searchpanel></app-searchpanel>
  <div class="left-bar"></div>
  <div id="ol-map" class="map-container"></div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>
