<body>
<section class="container">
  <div class="login-container">
    <div class="circle circle-one"></div>
    <div class="form-container">
      <h1 class="opacity">REGISTER</h1>
      <form>
        <input type="text" id="mailadress" placeholder="MAIL ADDRESS" />
        <input type="text" id="username" placeholder="USERNAME" />
        <input type="password" id="password" placeholder="PASSWORD" />
        <input type="password" id="passwordretype" placeholder="RETYPE PASSWORD" />
        <button class="opacity" (click)="postRegister()">SUBMIT</button>
        <span style="justify-content: center">Error</span>
      </form>
    </div>
    <div class="circle circle-two"></div>
  </div>
  <div class="theme-btn-container"></div>
</section>
</body>
